<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" href="css/allreply.css" type="text/css" />
    <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="js/guestbook.js"></script>
    <script type="text/javascript" src="js/usershow.js"></script>
</head>
<body>
<form name="form" id="form">
    <input type="hidden" name="action" value="allreply">
</form>
<table border=0 width=700px height=100px align="center">

    <tr>
        <td colspan="2" align="right">
            <h3 >全部回复内容 </h3>
        </td>
        <td  colspan="1" align="right">
            <button id="button" onclick="allReply()">查看</button>
        </td>
    </tr>
    <tr><td width="50px" align="center">回复编号</td>
        <td width="350px" align="center">回复内容</td>
        <td width="200px" align="center">回复时间</td>
    </tr>
</table>
<div id="test"></div>
</body>
</html>