<html>
<head>
    <title>哈哈网主页</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <link rel="stylesheet" href="css/home.css" type="text/css">
    <script type="text/javascript" src="js/home.js"></script>
</head>
<body>
<div class="top">
    <div class="topmenu">
        <ul>
            <li><a href="" >首页</a></li>
            <li><a href="publish.html" target="tt">发表留言</a></li>
            <li><a href="look.html" target="tt">查看留言</a></li>
            <li><a href="information.html" target="tt">个人中心</a></li>
        </ul>
    </div>
</div>
<div>
    <img id="image" src="image/top.jpg" width="520" height="550" class="b">
</div>
<div >
<iframe src="publish.html" class="a" name="tt" ></iframe>
</div>
</body>
</html>
