<html>
<head>
    <meta charset="UTF-8">
    <title>哈哈网登录</title>
    <link rel="stylesheet" href="css/loginstyle.css" type="text/css">
    <script type="text/javascript" src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="js/user.js"></script>
</head>
<body>
<div>
    <img src="image/7.jpg" width="520" height="550">
</div>
<div class="a">
    <pre><h2 style="color:#6699FF">      哈哈网，常联系</h2>
        <h3>        1982年，第一张电脑笑脸诞生
        今天，人们已经习惯用它来表达心情
        现在，您也可以在邮件里
        用:-)来传达一个微笑的表情
        </h3>
    </pre>
</div>
<div class="b">
    <table  >
        <tr>
            <td colspan="2" align="center"><h2>欢迎登录哈哈</h2></td>
        </tr>
        <tr>
            <td colspan="2" align="center"><h3>每一天，乐在沟通</h3></td>
        </tr>
        <tr>
            <td colspan="3" align="center" ><h3>账号密码登录</h3></td>
        </tr>
        <form id="form1" name="form">
        <tr>
            <td></td>
            <td align="right"><img src="image/user.jpg" width="50" height="50"/></td>
            <td align="left"><input name="loginname" type="text" id="loginname" placeholder="请输入用户名"/></td>
        </tr>
        <tr>
            <td></td>
            <td align="right"><img src="image/pwd.jpg" width="50" height="50"/></td>
            <td align="left"><input name="loginpwd" type="password" id="loginpwd" placeholder="请输入密码"/></td>
        </tr>
        <input type="hidden" name="action"  value="login">
         </form>
        <tr>
            <td colspan="3">
                <button id="submit" class="button" onclick="loginPost()">登录</button><a href="register.html" class="register">注册</a>
            </td>
        </tr>
    </table>
</div>
</body>
</html>
