<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" href="css/look.css" type="text/css">
    <script type="text/javascript" src="js/guestbook.js"></script>
    <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript">
        $(function() {
            $.ajax({
                type: "GET",
                url: "../controller/usershow.php",

                success: function (data) {
                    var html = "";
                    for (var i = 0; i < data.length; i++) {
                        var ls = data[i];
                        html += "<span>用户名：" + ls.username + "</br>"+"</span>";
                        html += "<span>用户编号：" + ls.id + "</span>";
                    }
                    $("#test").html(html);
                },

            });
        })
    </script>

</head>
<body>
<table width=70% align=center class="a">
    <tr>
        <td colspan="3" align="left">欢迎<div id="test"></div>登录留言板,此页面为查看留言页面</td>
    </tr>
    <tr>
        <td colspan="3" align="center">
            <h3 >查看留言 </h3>
        </td>
        <td colspan="2" align="center">
            <button id="submit" onclick="look()">查看</button>
        </td>
    </tr>
    <tr>
        <td width="70px" align="center">用户编号</td>
        <td width="350px" align="center">留言内容</td>
        <td width="200px" align="center">发表时间</td>
        <td width="50px" align="center">回复</td>
        <td width="50px" align="center">删除</td>
    </tr>
</table>
<div id="mess"></div>
</body>
</html>
