<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" href="css/publish.css" type="text/css"/>
    <script type="text/javascript" src="js/guestbook.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>
<body>
<table width=600 height=290 align=center>

    <form  name=form id="form">
        <input type="hidden" name="action" value="publish">
        <caption><h3>发表留言</h3></caption>

        <tr>
            <td>留言内容：</td>
            <td><textarea cols=40 rows=10 name="content" ></textarea></td>
        </tr>
    </form>
    <tr>
        <td align=right>
            <button id="submit" onClick="publishPost()">发表</button>
        </td>
        <td align=center>
            <button id="reset">重置</button>
        </td>
    </tr>
</table>

</body>
</html>